.content{
  display: flex;
  align-items: center; 
  width: 100%;
}

.content p {
  color: #666666;
  font-family: 'Kavivanar', cursive;
  font-size: 2.2vw;
  max-height: 80vh;
}

.content img {
  height: 80vh;
  max-width:48vw;
}
.arrow {
  max-height: 7vw;
}
.radio {
  bottom:0;
  display:flex;
  justify-content: space-between;
  width:100%
}

.radio img{
  width: 75px
}